form a {
    margin-left: 10px;
}


#bootstrap-btn-overrides {
    background-color: #000; /* Green */
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 300px;
}
